* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  /* font-family: Tahoma, Arial; */
  background-color: #141c30;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}

.container {
  width: 90%;
  margin: 10px auto 0px;
  padding: 20px;
  margin-top: 50%;
}

@media (min-width: 768px) {
  .container {
    width: 60%;
    margin-top: 10%;
  }
}

.search-area {
  background-color: #1f2a48;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  input {
    width: 75%;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: rgba(255, 255, 255, 0.8);
    background-color: transparent;
    border: none;
    outline: none;
    caret-color: #007afd;
    /* &:focus,
    &:active {
      border: 1px solid #007afd;
    } */
    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
      letter-spacing: 1px;
    }
  }
  button {
    min-height: 100%;
    padding: inherit;
    text-align: center;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    background-color: #007afd;
    color: white;
    outline: none;
    border: none;
  }
}

.card {
  background-color: #1f2a48;
  margin-top: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: white;
  padding: 10px;
  .main-info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    .text {
      margin-left: 20px;
      .name {
        margin-top: 5px;
        margin-bottom: 0;
      }
      .handle {
        font-size: 10px;
        color: #007afd;
      }
      .date {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.7);
      }
    }
    .user-avatar {
      width: 75px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
  }
  .numbers {
    background-color: #141c30;
    width: 90%;
    margin: 20px auto 0;
    padding: 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    div {
      text-align: center;
      & p:first-child {
        font-size: 13px;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  .contacts {
    /* background-color: #f44336; */
    p,
    a {
      font-size: 12px;
      display: flex;
      align-items: center;
    }
    i {
      margin-right: 10px;
      width: 30px;
      font-size: 20px;
    }
  }
}

.git-container .data {
  margin-top: 20px;
  padding: 10px;
  background-color: #1f2a48;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  .repo-box {
    background-color: #141c30;
    color: white;
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    a {
      text-decoration: none;
      background-color: #007afd;
      cursor: pointer;
    }
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
    i {
      margin-right: 5px;
    }
    .button {
      border-radius: 4px;
      color: #fff;
      font-size: 15px;
      text-align: center;
      padding: 5px;
      width: 30%;
      font-weight: bold;
    }
    .demo-button {
      background-color: #fc6736;
    }
  }

  .repo-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    margin-top: 5px;
  }
}

@media (min-width: 779px) {
  .buttons .button {
    width: 80px !important;
    font-size: 15px;
    font-weight: bold;
  }
}

.git-container .data .repo-box span {
  background-color: #009688;
}
