* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  /* font-family: Tahoma, Arial; */
  background-color: #141c30;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
}

.container {
  width: 90%;
  margin: 10px auto 0px;
  padding: 20px;
  margin-top: 50%;
}

@media (min-width: 768px) {
  .container {
    width: 60%;
    margin-top: 10%;
  }
}

.search-area {
  background-color: #1f2a48;
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  input {
    width: 75%;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: rgba(255, 255, 255, 0.8);
    background-color: transparent;
    border: none;
    outline: none;
    caret-color: #007afd;
    /* &:focus,
    &:active {
      border: 1px solid #007afd;
    } */
    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
      letter-spacing: 1px;
    }
  }
  button {
    min-height: 100%;
    padding: inherit;
    text-align: center;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    background-color: #007afd;
    color: white;
    outline: none;
    border: none;
  }
}

.git-container .data {
  margin-top: 20px;
  padding: inherit;
  background-color: #eee;
}

.git-container .data .repo-box {
  background-color: #fff;
  padding: 15px;
}
.git-container .data .repo-box:not(:last-child) {
  margin-bottom: 5px;
}

.repo-box {
  display: flex;
  justify-content: space-between;
}

.buttons .button {
  margin-left: 4px;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 4px;
}

@media (min-width: 779px) {
  .buttons .button {
    width: 80px !important;
    font-size: 15px;
    font-weight: bold;
  }
}

.git-container .data .repo-box a {
  text-decoration: none;
  background-color: #f44336;
}
.git-container .data .repo-box span {
  /* background-color: #009688; */
  background-color: #eaac00b9;
}
